# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# PyTest & Coverage
.pytest_cache/
.coverage
htmlcov/
report.html
*.html

# WebDriver / Driver Cache
.wdm/
chromedriver.exe
geckodriver.exe

# Screenshots & Logs
*.png
screenshots/*.png
!screenshots/.gitkeep
HandsOn4_Selenium_Setup/screenshots/*.png
!HandsOn4_Selenium_Setup/screenshots/.gitkeep
HandsOn6_PyTest_Framework/screenshots/*.png
!HandsOn6_PyTest_Framework/screenshots/.gitkeep

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
